* {
    font-family: Monospace, "JetBrains Mono";
}
body {
    background-color: black;
}
h1 {
    font-size: 3em;
    text-align: center;
}
h2, #clock_container {
    text-align: center;
}
.text, span {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.function_container {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 1.5em;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    border: 0.1em white solid;
}
.function_container:hover {
    color: black;
    background-color: white;
    border: 0.1em black solid;
}
footer {
    margin-top: 5%;
    text-align: center;
}
#convert_container {
    margin-top: 2%;
    font-size: 1.5em;
    text-align: center;
}
.result {
    margin-top: 1%;
}
input {
    margin-top: 1%;
    font-size: 1em;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
}
.back_button {
    font-size: 1.2em;
}
#outputKg {
    margin-bottom: 1%;
}
#suggest_container {
    text-align: center;
}
p {
    font-size: 1.5em;
}
.submit {
    background-color: black;
    border: 0.1em white solid;
    color: white;
}
.submit:hover {
    background-color: white;
    border: 0.1em black solid;
    color: black;
}
#radio_container {
    text-align: center;
}
#weather_container {
    text-align: center;
}
#runways {
    color: white;
    text-align: center;
    font-size: 1.5em;
}