* {
    font-family: Monospace, "JetBrains Mono";
}
body {
    background-color: black;
}
h1 {
    font-size: 3em;
    text-align: center;
}
h2, #clock_container {
    text-align: center;
}
.text, span {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.function_container {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    font-size: 1.5em;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    border: 0.1em white solid;
}
.function_container:hover {
    color: black;
    background-color: white;
    border: 0.1em black solid;
}