<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
<head>
    <meta charset="UTF-8">
    <title>Convert Units</title>
    <a class="back_button" href={{ url_for('homepage') }}>Back</a>
</head>
<body>
<h1 class="text"><a href="https://github.com/C-FWES/FSHandy" target=”_blank”>Flight Sim Handy</a></h1>
<h2 class="text">The current Zulu time is:</h2>
<div id="clock_container">
    <span id="utc_clock"></span>
</div>
<script>
    (function () { //zulu time

        var clockElement = document.getElementById("utc_clock");

        function updateClock(clock) {
            clock.innerHTML = new Date().toUTCString();
        }

        setInterval(function () {
            updateClock(clockElement);
        }, 1000);

    }());
</script>
<div id="convert_container">
    <label class="text">Pounds to Kilograms</label><br>
    <input type="number" placeholder="Pounds" oninput="lbConverter(this.value)" onchange="lbConverter(this.value)" id="outputLb"><br>
    <input type="number" placeholder="Kg" oninput="kgConveter(this.value)" onchange="kgConverter(this.value)" id="outputKg"><br>
    <label class="text">hPa to inHg</label><br>
    <input type="number" placeholder="hPa" oninput="hPaConverter(this.value)" onchange="hPaConverter(this.value)" id="outputhPa"><br>
    <input type="number" placeholder="inHg" oninput="inHgConveter(this.value)" onchange="inHgConverter(this.value)" id="outputinHg"><br>
</div>
<script>
    function lbConverter(pounds) {
        document.getElementById("outputKg").value = pounds / 2.205
    }
    function kgConverter(kilograms) {
        document.getElementById("outputLb").value = kilograms * 2.205
    }
    function hPaConverter(hPa) {
        document.getElementById("outputinHg").value = (hPa * 0.029529983071445).toFixed(2)
    }
    function inHgConverter(inHg) {
        document.getElementById("outputhPa").value = (inHg / 0.029529983071445).toFixed(2)
    }
</script>
</body>
<footer class="text">FSHandy by Wesley Ou</footer>
</html>