<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
<head>
    <meta charset="UTF-8">
    <title>FS Handy</title>
</head>
<body>
<h1 class="text"><a href="https://github.com/C-FWES/FSHandy">Flight Sim Handy</a></h1>
<h2 class="text">The current Zulu time is:</h2>
<div id="clock_container">
    <span id="utc_clock"></span>
</div>
<script>
    (function () { //zulu time

        var clockElement = document.getElementById("utc_clock");

        function updateClock(clock) {
            clock.innerHTML = new Date().toUTCString();
        }

        setInterval(function () {
            updateClock(clockElement);
        }, 1000);

    }());
</script>

<div class="function_container" id="units">Unit Conversion</div>
<div class="function_container" id="units">Weather Information</div>
<div class="function_container" id="units">Takeoff/Approach Performance</div>
<div class="function_container" id="units">Flight Suggestions</div>
</body>
</html>